<style>
  .page__content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1.5rem auto;
  }

  .page__content figure img {
    display: block;
    margin: 0 auto;
  }

  .page__content figure figcaption {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
  }

  /*mobile*/
  @media (min-width: 48em) {
    html {
      font-size: 14px;
    }
  }

  /*mid-size desktop*/
  @media (min-width: 64em) {
    html {
      font-size: 16px;
    }
  }

  /*large desktop*/
  @media (min-width: 80em) {
    html {
      font-size: 19px;
    }

    /*bigger central content column*/
    #main {
      max-width: 1440px;
    }
  }
</style>